<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome</title>
</head>
<body>

<div class="landing-container">
    <h1>Welcome to FaceAuth System</h1>
    <p>Secure login and registration using your face</p>

    <div class="button-group">
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
    </div>

    <div class="footer">
        &copy; 2026 Surya N. All Rights Reserved
    </div>
</div>

</body>
</html>
